/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {font-size: 10px;}

html, body {
    height: 100%;
}

.content-wrap {
    width: 100%;
    height: 100%;
}

#btn-reset {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -50px;
    font-size: 17px;
    font-size: 1.7rem;
}

.modal-visible .modal-overlay,
.modal-visible .modal {
    display: block;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 300px;
    margin: -63px 0 0 -150px;
    border: 1px solid #ddd;
}

.modal .modal-header {
    background: #808080;
    color: #ddd;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 5px 9px;
}

.modal .btn-close {
    width: 22px;
    height: 22px;
    background: -webkit-linear-gradient(#d4d4d4, #919191);
    background: -o-linear-gradient(#d4d4d4, #919191);
    background: -moz-linear-gradient(#d4d4d4, #919191);
    background: linear-gradient(#d4d4d4, #919191);
    border-radius: 100%;
    border: none;
    font-size: 12px;
    color: #777;
    float: right;
    margin-top: 2px;
}

.modal .modal-body {
    padding: 20px;
    background: #fff;
}

.modal .progress-bar {
    max-width: 153px;
    margin: 0 auto 14px;
}

.modal .progress-status {
    text-align: center;
    font-size: 17px;
    font-size: 1.7rem;
    color: #808080;
}

.progress-bar {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.progress-bar .progress {
    width: 0;
    height: 14px;
    background: #7fc9ff;
    background: -webkit-linear-gradient(#7fc9ff, #4c7999);
    background: -o-linear-gradient(#7fc9ff, #4c7999);
    background: -moz-linear-gradient(#7fc9ff, #4c7999);
    background: linear-gradient(#7fc9ff, #4c7999);
}

.finished .progress-bar .progress {
    background: #7fc900;
    background: -webkit-linear-gradient(#7fc900, #4d7a00);
    background: -o-linear-gradient(#7fc900, #4d7a00);
    background: -moz-linear-gradient(#7fc900, #4d7a00);
    background: linear-gradient(#7fc900, #4d7a00);
}

.progress-status .complete {
    display: none;
    background: url('../images/bg-tick.png') no-repeat top right;
    padding-right: 30px;
}

.finished .progress-status .complete {
   display: block;
}

.finished .progress-status .in-progress {
    display: none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
